/data/
src/checkpoint/
__pycache__/
.ipynb_checkpoints/
src/outputs
*.log
outputs
src/results/
src/logs/
logs/
lightning_logs/
.hydra/
wandb/
tmp/
temp/
src/output_kvk/
*.pt
*.pth
*.ckpt
*.h5
*.joblib
*.pkl
*.sav
